@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="container-fluid">
        <header>
            <div class="row">
                <div class="col-xs-12">
                    @RenderSection("header", false)
                </div>
            </div>
        </header>
        <div class="container">
            @RenderBody()
        </div>
        <footer class="text-center">
            &copy; @DateTime.Now.Year
        </footer>
    </div>
</body>
</html>